html , body{
    padding: 0;
    margin: 0;

    background: 
    linear-gradient(217deg, #e5e9d9, #edf4d0 70.71%), 
    linear-gradient(127deg, #e9eccb, #f5f4c8 70.71%),
    linear-gradient(336deg, #f3f5e5, #fbffd7 70.71%);
    background: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    color: #252525;
}
a {
    text-decoration: none;

}
body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}
.head {
  width: 16vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  border-right: 0.2px solid #5c5c5c;
  padding-top: 3vh;


}
.gerb {
  width: 15vw;
  height: auto;
}
.body {
  width: 98vw;
  
}
.pos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  padding: 0.3vw 0 0.3vw;

  background-color: #f4ffb5;
  color: black;
  transition: opaciti 0.2s ease;
  border: 0.1vw solid black;
  text-decoration: none;
  margin: 0.7vw;

}
.ot {
  letter-spacing: 0.2vw;
}
.pos2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  padding: 0.3vw 0 0.3vw;

  background-color: #ffe5b5;
  color: black;
  transition: opaciti 0.2s ease;
  border: 0.1vw solid black;
  text-decoration: none;
  margin: 0.7vw;

}

li {
  padding: 0.3vw 0 0.3vw;
  list-style: none;
  font-size: 1.3vw;
  margin: 0;

}
li {
  display: inline-block;
  position: relative;
}
li a {
  position: relative;
  line-height: 1;
  letter-spacing: 3px;
  color: #252525;
}




.info {
  width: 60vw;
  margin: auto;
  padding: 20px; 
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}
p{
  padding: 0;
  margin: 0;
  font-size: 1.5vw;
}
h2 {
  font-size: 2vw;
}
.p {
  padding-top: 5px;
  padding-bottom: 5px;

}

.head_3_1 {
  width: 60vw;
  margin: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  padding: 2vw 0 0 4vw; 
}
.image-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50vw;
  display: flex;
  justify-content: center;
  margin: auto;

}
.img-4-8 {
  width: 40vw;
  outline-style: groove;
}
.down {
  font-size: 1.6vw;
}

.image-1 {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 60vw;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin: auto;

}



.img-1-1 {
  cursor: pointer;
  height: 6vw;
  padding: 3px;
  border: 0.1vw solid black;

}
.img-1-2 {
  cursor: pointer;
  height: 11.5vw;
  padding: 3px; 
  border: 0.1vw solid black;
}

.bok {
  width: 3.7vw;
  height: 37,5vw;
  text-decoration: none;
  font-size: 3.7vw;
  display: flex;
  align-items: center;
}
.bok2 {
  height: 3.7vw;
  width: auto;
  font-size: 3.7vw;
}
.bok:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.images{
  width:auto;
  display: flex;
}
.images-1 {
  height: 37.5vw;
  margin: 10px;
}

.img-1_modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5); /* фон */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in; 
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img-1_modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
.img-1_modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.img-1_modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("png.jpeg");
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  background-color: rgb(138, 138, 138);
  border-radius: 0.3rem;
  outline: 0;
}
.close1 {
  cursor: pointer;
}

.head_3_3 {
  width: 60vw;
  position: center;
  border-bottom: 0.2px solid #5c5c5c;
  margin: auto;
}


.text_p {
  width: 90vw;
  height: 90vh;

}
.pt {
  margin: 0 5vw 0 5vw;
  

}
a {
  text-decoration: none;
  color: #252525;
}
.image-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img-2 {
  height: 50vh;
  margin-left: 1vw;
  margin-right: 1vw;
}
.img-4 {
  height: 40vh;
  margin-left: 1vw;
  margin-right: 1vw;
}
.img-3 {
  height: 25vh;
  margin-left: 1vw;
  margin-right: 1vw;
}
.img-5 {
  height: 20vh;
  margin-left: 1vw;
  margin-right: 1vw;
}